/*
Custom Css
*/
/* star */
.star-ratings {
    unicode-bidi: bidi-override;
    color: #ccc;
    font-size: 64px;
    position: relative;
    margin: 0;
    padding: 0;
}
.starRange{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 2;
}

.fill-ratings {
    color: #f1f50d;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    overflow: hidden;
}

span {
    display: inline-block;
}

.empty-ratings {
    padding: 0;
    display: block;
    z-index: 0;
}

/* 테이블 속성 */
tr {
    vertical-align: middle;
}

td {
    word-break: break-all;
    vertical-align: middle;
}

td span {
    font-size: 1.4rem;
    text-align: center;
}
/* 유효성 검사 메세지 */
#emailVerifyNumber {
    background-color: #ffeded;
}

.checkMsg {
    display: none;
    color: #dc3545;
}