<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="UserDto" type="com.kinaboot.muscles.domain.UserDto"/>
        <typeAlias alias="PostDto" type="com.kinaboot.muscles.domain.PostDto"/>
        <typeAlias alias="CommentDto" type="com.kinaboot.muscles.domain.CommentDto"/>
        <typeAlias alias="SearchCondition" type="com.kinaboot.muscles.domain.SearchCondition"/>
        <typeAlias alias="ProductDto" type="com.kinaboot.muscles.domain.ProductDto"/>
        <typeAlias alias="CartDto" type="com.kinaboot.muscles.domain.CartDto"/>
        <typeAlias alias="DeliveryDto" type="com.kinaboot.muscles.domain.DeliveryDto"/>
        <typeAlias alias="PaymentDto" type="com.kinaboot.muscles.domain.PaymentDto"/>
        <typeAlias alias="OrderDto" type="com.kinaboot.muscles.domain.OrderDto"/>
    </typeAliases>
</configuration>


