<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.cartMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM cart
    </select>
    <select id="countCartItem" resultType="int" parameterType="map">
        SELECT count(*)
        FROM cart
        where userId = #{userId}
          and productNo = #{productNo}
    </select>
    <select id="selectAll" resultType="CartDto" parameterType="String">
        select p.productNo   as productNo,
               p.productName as productName,
               c.productQty  as productQty,
               p.PRICE       as productPrice
        from cart c,
             product p
        where p.productNo = c.productNo
          and c.userId = '${userId}';
    </select>
    <insert id="insert" parameterType="map">
        insert into cart (userId, productNo, productQty)
        values (#{userId}, #{productNo}, #{productQty});
    </insert>
    <delete id="deleteItem" parameterType="map">
        delete
        from cart
        where userId = #{userId}
          and productNo = #{productNo};
    </delete>

</mapper>
