<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.cartMapper">
    <select id="count" resultType="int" parameterType="int">
        SELECT count(*)
        FROM cart
        where userId = '${userId}'
    </select>

    <select id="countCartItem" resultType="int" parameterType="map">
        SELECT count(*)
        FROM cart
        where userId = #{userId}
          and goodsNo = #{goodsNo}
    </select>

    <select id="selectAll" resultType="CartDto" parameterType="String">
        select p.goodsNo as goodsNo
               ,p.goodsName as goodsName
               ,c.goodsQty as goodsQty
               ,p.goodsPrice as goodsPrice
               ,p.goodsCategory as goodsCategory
               ,p.goodsImgPath as goodsImgPath
        from cart c, goods p
        where p.goodsNo = c.goodsNo
          and c.userId = '${userId}';
    </select>

    <insert id="insert" parameterType="CartDto">
        insert into cart (userId, goodsNo, goodsName, goodsCategory, goodsPrice, goodsQty)
        values (#{userId}, #{goodsNo}, #{goodsName}, #{goodsCategory}, #{goodsPrice}, #{goodsQty});
    </insert>

    <delete id="deleteItem" parameterType="map">
        delete
        from cart
        where userId = #{userId}
          and goodsNo = #{goodsNo};
    </delete>

    <delete id="deleteAll">
        DELETE
        FROM CART
    </delete>
</mapper>
