<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.cartMapper">
    <select id="count" resultType="int" parameterType="int">
        SELECT count(*)
        FROM cart
        where userId = '${userId}'
    </select>
    <select id="countCartItem" resultType="int" parameterType="map">
        SELECT count(*)
        FROM cart
        where userId = #{userId}
          and productNo = #{productNo}
    </select>
    <select id="selectAll" resultType="CartDto" parameterType="String">
        select p.productNo
               p.productName
               c.productQty
               p.productPrice
               p.productCategory
               p.productImgPath
        from cart c, product p
        where p.productNo = c.productNo
          and c.userId = '${userId}';
    </select>
    <select id="selectItem" resultType="CartDto" parameterType="int">
        select productName,
               productPrice
        from product
        where p.productNo = '${productNo}';
    </select>
    <insert id="insert" parameterType="map">
        insert into cart (userId, productNo, productName, productCategory, productPrice, productQty)
        values (#{userId}, #{productNo}, #{productName}, #{productCategory}, #{productPrice}, #{productQty});
    </insert>
    <delete id="deleteItem" parameterType="map">
        delete
        from cart
        where userId = #{userId}
          and productNo = #{productNo};
    </delete>
</mapper>
