<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.postMapper">

    <select id="count" parameterType="String" resultType="int">
        SELECT count(*) FROM post where type='${type}'
    </select>

    <select id="selectPostNo" resultType="int">
        select max(postNo) + 1
        from post;
    </select>

    <select id="select" parameterType="int" resultType="PostDto">
        SELECT * from post
        where postNo=#{postNo}
        order by createdDate desc, postNo desc
    </select>

    <select id="selectPostImg" parameterType="int" resultType="PostImgDto">
        select filePath as uploadPath
        from postImg
        where postNo = '${postNo}';
    </select>
    <select id="selectAll" parameterType="String" resultType="PostDto">
        SELECT *
        from post
        where type='${type}'
    </select>
    <select id="selectAllByUser" parameterType="String" resultType="PostDto">
        SELECT *
        from post
        where userId='${userId}'
    </select>
    <select id="searchResultCnt" parameterType="SearchCondition" resultType="int">
        SELECT count(*)
        FROM POST
        WHERE type=#{type}
        <include refid="optionCondition"/>
    </select>

    <select id="searchResult" parameterType="SearchCondition" resultType="PostDto">
        SELECT *
        FROM POST
        WHERE type=#{type}
        <include refid="optionCondition"/>
        order by createdDate desc
        LIMIT #{offset}, 10;
    </select>

    <sql id="optionCondition">
        <choose>
            <when test='option=="T"'>
                AND title like concat('%',#{keyword},'%')
            </when>
            <when test='option=="A"'>
                AND userId like concat('%',#{keyword},'%')
            </when>
            <otherwise>
                AND (title like concat('%',#{keyword},'%')
                OR userId like concat('%',#{keyword},'%'))
            </otherwise>
        </choose>
    </sql>

    <insert id="insert" parameterType="map">
        insert into post
        (postNo, type, title, content, userId, createdDate)
        values (#{postNo}, #{type}, #{title}, #{content}, #{userId}, now())
    </insert>

    <insert id="insertPostImg" parameterType="PostImgDto">
        insert into postimg (postNo, filePath, type)
        values (#{postNo}, #{uploadPath},#{type});
    </insert>

    <update id="update" parameterType="PostDto">
        update post
        set title = #{title}
        , content = #{content}
        , modDate = now()
        where postNo = #{postNo}
    </update>

    <update id="increaseViewCnt" parameterType="int">
        update post set viewCnt = viewCnt+1
        where postNo=#{postNo}
    </update>

    <delete id="deleteAll">
        DELETE from post
    </delete>

    <delete id="delete" parameterType="int">
        DELETE from post where postNo=${postNo}
    </delete>

    <delete id="deletePost" parameterType="String">
        DELETE from post where userId='${userId}'
    </delete>

    <delete id="deletePostImgs" parameterType="int">
        delete from postimg where postNo = '${postNo}'
    </delete>

    <delete id="deletePostImg" parameterType="String">
        DELETE FROM reviewImg where filePath = '${imgPath}'
    </delete>
</mapper>
