<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.postMapper">
    <select id="count" parameterType="String" resultType="int">
        SELECT count(*) FROM post where type='${type}'
    </select>
    <delete id="deleteAll">
        DELETE from post
    </delete>
    <delete id="delete" parameterType="map">
        DELETE from post where postNo=#{postNo} and userId=#{userId}
    </delete>

    <insert id="insert" parameterType="map">
        insert into post
            (type,title,content,userId, createdDate)
        values
            ('${type}',#{postDto.title}, #{postDto.content}, #{postDto.userId}, now())
    </insert>

    <select id="select" parameterType="int" resultType="PostDto">
        SELECT * from post
        where postNo=#{postNo}
        order by createdDate desc, postNo desc
    </select>

    <select id="selectPage" parameterType="int" resultType="PostDto">
        SELECT * from post
        where type='community'
        LIMIT #{limit}, 10;
    </select>

    <select id="selectAll" parameterType="String" resultType="PostDto">
        SELECT *
        from post
        where type='${type}'
    </select>


    <update id="update" parameterType="PostDto">
        update post
        set title   = #{title}
          , content = #{content}
          , modDate = now()
        where postNo = #{postNo}
          and userId = #{userId}
    </update>
    <update id="increaseViewCnt" parameterType="int">
        update post set viewCnt = viewCnt+1
        where postNo=#{postNo}
    </update>

</mapper>
