<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.productMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM product
    </select>
    <select id="selectAll" resultType="productDto">
        select productNo, productCategory, productName, productPrice, productStock
        from product
    </select>
    <select id="select" parameterType="int" resultType="productDto">
        select productNo,
               productCategory,
               productName,
               productPrice,
               productStock
        from product
        where productNo = #{productNo}
    </select>
    <select id="selectByCategoryCnt" parameterType="String" resultType="int">
        select count(*)
        from product p,
             category c,
             category c1
        where c.pcategory_no = c1.category_no
          and p.productCategory = c.NAME
          and c1.name = #{category}
    </select>
    <select id="selectByCategory" parameterType="map" resultType="productDto">
        select A.productNo
        ,productCategory
        ,productName
        ,productPrice
        ,productStock
        from
        (select p.productNo,
        p.productCategory,
        p.productName,
        p.productPrice,
        p.productStock
        from product p,
        category c,
        category c1
        where c.pcategory_no = c1.category_no
        and p.productCategory = c.NAME
        and c1.name = #{category}) A
        LEFT JOIN
        (select productNo, avg(score) score
        from review
        group by productNo) B
        ON A.productNo=B.productNo
        <include refid="optionCondition"/>
        LIMIT #{sc.offset}, 10;
    </select>
    <sql id="optionCondition">
        <choose>
            <when test='sc.option=="lowPrice"'>
                order by productPrice asc
            </when>
            <when test='sc.option=="highPrice"'>
                order by productPrice desc
            </when>
            <when test='sc.option=="review"'>
                order by score desc
            </when>
        </choose>
    </sql>
    <select id="selectFaqList" parameterType="int" resultType="faqDto">
        SELECT *
        from faq
        where productNo = ${productNo}
    </select>
    <insert id="insert" parameterType="productDto">
        insert into product
            (categoryName, productName, price, stock)
        values (#{categoryName}, #{productName}, #{price}, #{stock})
    </insert>
    <insert id="insertFaqQuestion" parameterType="faqDto">
        insert into faq (userId, productNo, question, createdDate)
        values (#{userId}, #{productNo}, #{question}, now());
    </insert>
    <insert id="insertFaqAnswer" parameterType="faqDto">
        update faq
        set answer    = #{answer},
            replyDate = now()
        where faqNo = #{faqNo};
    </insert>
    <update id="updateProduct" parameterType="productDto">
        update product
        set productName  = #{productName},
            productPrice = #{productPrice},
            productStock = #{productStock}
        where productNo = #{productNo};
    </update>
    <delete id="deleteAll">
        DELETE
        from product
    </delete>
    <delete id="delete" parameterType="map">
        DELETE
        from product
        where productNo = #{productNo}
    </delete>
    <delete id="deleteProduct" parameterType="int">
        DELETE
        from product
        where productNo = #{productNo}
    </delete>
</mapper>
