<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.reviewMapper">
    <select id="selectReviewById" parameterType="String" resultType="reviewDto">
        select *
        from review
        where userId = '${userId}'
    </select>

    <insert id="insertReview" parameterType="reviewDto">
        insert into review (score, content, userId, productNo, productName, createdDate, orderNo)
        values (#{score}, #{content}, #{userId}, #{productNo}, #{productName}, now(), #{orderNo});
    </insert>
</mapper>
