<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.userMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM user
    </select>
    <select id="countUser" resultType="int" parameterType="String">
        SELECT count(*)
        FROM user
        where userId = '${userId}'
    </select>
    <select id="selectAllUser" resultType="UserDto">
        SELECT *
        FROM user
    </select>
    <select id="selectUser" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        where userId = '${userId}'
    </select>
    <select id="selectUserEmail" parameterType="String" resultType="UserDto">
        SELECT *
        FROM user
        where email = '${email}'
    </select>
    <select id="selectUserCoupon" resultType="CouponDto" parameterType="String">
        select *
        from coupon
        where userId = '${userId}';
    </select>
    <select id="selectUserPoint" resultType="PointDto" parameterType="String">
        select *
        from point
        where userId = '${userId}';
    </select>
    <select id="selectUserOrderPoint" resultType="PointDto" parameterType="int">
        select *
        from point
        where orderNo = '${orderNo}';
    </select>
    <update id="updateUser" parameterType="UserDto">
        UPDATE USER
        SET EMAIL    = #{email}
          , PHONE    = #{phone}
          , PASSWORD = #{password}
          , address1 = #{address1}
          , address2 = #{address2}
        WHERE userId = #{userId}
    </update>

    <update id="updateUserPassword" parameterType="map">
        UPDATE USER
        SET PASSWORD = #{newPassword}
        WHERE userId = #{userId}
    </update>
    <insert id="insertRecommendEventCoupon" parameterType="map">
        insert into coupon (couponName, couponCode, userId, discount)
        values ("추천인 이벤트", #{recommendId}, #{userId}, #{discount});
    </insert>
    <insert id="insertPoint" parameterType="map">
        insert into point (userId, point, orderNo)
        values (#{userId}, #{point}, #{orderNo});
    </insert>
    <insert id="insertRecommendPoint" parameterType="map">
        insert into point (userId, point, pointName)
        values ('${recommendId}', 100, "추천인 이벤트");
    </insert>
    <insert id="insertUser" parameterType="UserDto">
        INSERT INTO user
        (userId, password, email, phone, address1, address2, point, createdDate)
        values (#{userId}, #{password}, #{email}, #{phone}, #{address1}, #{address2}, 0, now())
    </insert>

    <insert id="insertExit" parameterType="ExitDto">
        INSERT INTO `exit`
            (userId, exitDate, type1, type2, type3, opinion)
        values (#{userId}, now(), #{type1}, #{type2}, #{type3}, #{opinion})
    </insert>

    <delete id="deleteAllUser">
        DELETE
        FROM USER
    </delete>
    <delete id="deleteUser" parameterType="int">
        UPDATE USER
        SET expiredDate = now()
            ,point = 0
        where userNo = '${userNo}';
    </delete>
    <delete id="deleteData" parameterType="String">
        DELETE
        POST
        where userId = '${userId}';

        DELETE
        COMMENT
        where userId = '${userId}';

        UPDATE USER
        SET point = 0
        where userId = '${userId}';
    </delete>
    <update id="updateExpiredDate" parameterType="String">
        UPDATE USER
        SET expiredDate = now();
    </update>
    <update id="updateUserPoint" parameterType="map">
        update user
        set point = point + #{point}
        where userId = #{userId};
    </update>
    <update id="updateCoupon" parameterType="int">
        update coupon
        set orderNo = 0
        where orderNo = ${orderNo}
    </update>
    <delete id="deleteCoupon" parameterType="map">
        update coupon
        set orderNo = #{orderNo}
        where couponNo = #{couponNo}
    </delete>
    <delete id="deleteUserPoint" parameterType="int">
        delete
        from point
        where orderNo = ${orderNo};
    </delete>
    <delete id="deleteUserCoupon" parameterType="String">
        delete
        from coupon
        where userId = '${userId}';
    </delete>
</mapper>
