<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kinaboot.muscles.dao.userMapper">
    <select id="count" resultType="int">
        SELECT count(*)
        FROM user
    </select>
    <select id="selectAllUser" resultType="UserDto">
        SELECT *
        FROM user
        where expiredDate is null
    </select>
    <select id="selectUser" resultType="UserDto">
        SELECT *
        FROM user
        where userId = #{userId}
    </select>

    <select id="selectUserCoupon" resultType="CouponDto" parameterType="String">
        select couponName, couponCode, userId, discount, status
        from coupon
        where userId = #{userId};
    </select>
    <select id="selectUserPoint" resultType="PointDto" parameterType="String">
        select pointName, point
        from point
        where userId = '${userId}';
    </select>
    <update id="updateUser" parameterType="UserDto">
        UPDATE USER
        SET EMAIL = #{email}
          , PHONE = #{phone}
        WHERE userId = #{userId}
    </update>

    <update id="updateUserPassword" parameterType="map">
        UPDATE USER
        SET PASSWORD = #{newPassword}
        WHERE userId = #{userId}
    </update>
    <update id="updateCouponStatus" parameterType="map">
        update coupon
        set status = #{orderNo}
        where userId = #{userId}
        and couponName = #{couponName}
    </update>
    <insert id="insertRecommendEventCoupon" parameterType="map">
        insert into coupon (couponName, couponCode, userId, discount, status)
        values ("추천인 이벤트", #{recommendId}, #{userId}, 10, "사용가능");
    </insert>
    <update id="updateUserPoint" parameterType="map">
        update user
        set point = point + #{point}
        where userId = #{userId};
    </update>
    <insert id="insertPoint" parameterType="map">
        insert into point (userId, point, pointName)
        values (#{userId}, #{point}, #{orderNo});
    </insert>
    <insert id="insertRecommendPoint" parameterType="map">
        insert into point (userId, point, pointName)
        values ('${recommendId}', 100, "추천인 이벤트");
    </insert>
    <insert id="insertUser" parameterType="UserDto">
        INSERT INTO user
        (userId, password, email, phone, birth, address1, address2, point, createdDate)
        values (#{userId}, #{password}, #{email}, #{phone}, now(), #{address1}, #{address2}, 0, now())
    </insert>

    <insert id="insertLeave" parameterType="map">
        INSERT INTO quit
            (userId, type1, type2, type3, opinion)
        values (#{userId}, #{type1}, #{type2}, #{type3}, #{opinion})
    </insert>
    <insert id="insertQuitByAdmin" parameterType="map">
        INSERT INTO quit
            (userId, opinion)
        values (#{userId}, #{opinion})
    </insert>

    <delete id="deleteAllUser">
        DELETE
        FROM USER
    </delete>
    <delete id="deleteUser" parameterType="int">
        UPDATE USER
        SET expiredDate = now()
        where userId = '${userId}';
    </delete>
    <update id="updateExpiredDate" parameterType="String">
        UPDATE USER
        SET expiredDate = now();
    </update>
    <delete id="deleteUserPoint" parameterType="map">
        delete
        from point
        where userId = #{userId}
        and pointName = ${pointName};
    </delete>
</mapper>
